body {
  font-family: Arial, sans-serif;
  background-color: #7a0606b0;
  display: flex;            
  justify-content: center;    
  align-items: center;        
  min-height: 100vh;          
}

div {
  background: white;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  text-align: center;         
}
